/*********************************************************************/
/***** BEGIN DESIGNPLUS THEME IMPORT & CUSTOMIZATION  ****************/
/*********************************************************************/
/* Import statements need to be at the top of your CSS file */

/*** Legacy Sidebar ***/
/* For Main CSS file */
@import url(https://designtools.ciditools.com/css/themes.css);
/* For Mobile app CSS file */
/*@import url(https://designtools.ciditools.com/css/app.css);*/
/* Institution color customizations */
@import url(https://designtools.ciditools.com/css/inst_theme_overrides.css);

/*** New Sidebar ***/
/* For Main CSS files */
@import url(https://designplus.ciditools.com/css/content.css);
@import url(https://designplus.ciditools.com/css/editor.css);
/* For Mobile app CSS file */
/*@import url(https://designplus.ciditools.com/css/mobile.css);*/

:root {
    --dt-color-primary: #00539F;
    --dt-color-primary-contrast: #FFFFFF;
    --dt-color-primary-dark-text: #00539F;
    --dt-color-secondary: #FFD200;
    --dt-color-secondary-contrast: #000000;
    --dt-color-secondary-dark-text: #756300;
    --dt-color-accent: #2D3B45;
    --dt-color-accent-contrast: #FFFFFF;
    --dt-color-accent-dark-text: #2D3B45;
    --dt-color-gray: #CCCCCC;
    --dt-color-gray-contrast: #000000;
    --dt-color-gray-dark-text: #636363;
    --dt-color-white: #FFFFFF;
    --dt-color-white-contrast: #000000;
    --dt-color-white-dark-text: #707070;
    --dt-color-graybg: #E6E6E6;
    --dt-color-graybg-contrast: #000000;
}

/*********************************************************************/
/***** END DESIGNPLUS THEME IMPORT & CUSTOMIZATION   *****************/
/*********************************************************************/


@charset "utf-8";
/*This will hide the report a ticket button in the Canvas dropdown menu */
#help-dialog-options a[href="#create_ticket"] {
 
  display:none !important;
 
}
/* make threading more visible */
.replies {
padding-left: 7px;
border-left: solid #f0f8ff 16px;
}
.discussion-read-state-btn {
    top: 32px;
}
div.entry-content {
  padding-left:0px !important;
}

/* move help icon up*/

.ic-app-header__main-navigation {  
     -webkit-flex: 0 1 auto;  
     -ms-flex: 0 1 auto;  
     flex: 0 1 auto;  
}
/*fixes overlaps on the RCE on smaller screens sizes*/
.mce-btn-group .mce-btn {
    float: left;
}
/*.ic-app-header__secondary-navigation {  
     padding-top: 50px;  
}*/


/*********************************************************************/
/************************* WILEY CSS Begin ***************************/
/*********************************************************************/

.udelVideoContainerCielo {
  height: 0;
  margin: 0 0 1em 0;
  overflow: hidden;
  padding-bottom: calc(56.25% + 236px);
  position: relative;
}

.udelVideoContainerCielo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*********************************************************************/
/************************* WILEY CSS End *****************************/
/*********************************************************************/